<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>ちの</string>
		<key>shortcut</key>
		<string>チノ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちの</string>
		<key>shortcut</key>
		<string>CHINO</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちの</string>
		<key>shortcut</key>
		<string>チノ先生</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちの</string>
		<key>shortcut</key>
		<string>チノ先</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちの</string>
		<key>shortcut</key>
		<string>チ先</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>みゅー</string>
		<key>shortcut</key>
		<string>ミュー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>みゅー</string>
		<key>shortcut</key>
		<string>MYU</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>みゅー</string>
		<key>shortcut</key>
		<string>ママ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>みゅー</string>
		<key>shortcut</key>
		<string>武士</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ねふぃ</string>
		<key>shortcut</key>
		<string>ネフィ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ねふぃ</string>
		<key>shortcut</key>
		<string>NEFFY</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ねふぃ</string>
		<key>shortcut</key>
		<string>ﾈﾌｨ=ｻｰﾝ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ねふぃー</string>
		<key>shortcut</key>
		<string>ネフィ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ねふぃー</string>
		<key>shortcut</key>
		<string>NEFFY</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ねふぃー</string>
		<key>shortcut</key>
		<string>ﾈﾌｨ=ｻｰﾝ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にな</string>
		<key>shortcut</key>
		<string>ニナ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にな</string>
		<key>shortcut</key>
		<string>NINA</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にな</string>
		<key>shortcut</key>
		<string>チャンニナ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>らら</string>
		<key>shortcut</key>
		<string>ララ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>らら</string>
		<key>shortcut</key>
		<string>RARA</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>らら</string>
		<key>shortcut</key>
		<string>ラ王</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>らら</string>
		<key>shortcut</key>
		<string>ラ王様</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゔぃって</string>
		<key>shortcut</key>
		<string>ヴィッテ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゔぃって</string>
		<key>shortcut</key>
		<string>VITTE</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゔぃって</string>
		<key>shortcut</key>
		<string>ゔぃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そーと</string>
		<key>shortcut</key>
		<string>ソート</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そーと</string>
		<key>shortcut</key>
		<string>SOUGHT</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そーと</string>
		<key>shortcut</key>
		<string>操桃</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうと</string>
		<key>shortcut</key>
		<string>ソート</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうと</string>
		<key>shortcut</key>
		<string>SOUGHT</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうと</string>
		<key>shortcut</key>
		<string>操桃</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ざんきょう</string>
		<key>shortcut</key>
		<string>残響</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ざんきょう</string>
		<key>shortcut</key>
		<string>残響ヴァンデラー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ざんきょうゔぁんでらー</string>
		<key>shortcut</key>
		<string>残響</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ざんきょうゔぁんでらー</string>
		<key>shortcut</key>
		<string>残響ヴァンデラー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>まよなか</string>
		<key>shortcut</key>
		<string>真夜中</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>まよなか</string>
		<key>shortcut</key>
		<string>真夜中コンツェルト</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>まよなかこんつぇると</string>
		<key>shortcut</key>
		<string>真夜中</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>まよなかこんつぇると</string>
		<key>shortcut</key>
		<string>真夜中コンツェルト</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どうけし</string>
		<key>shortcut</key>
		<string>道化師</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どうけし</string>
		<key>shortcut</key>
		<string>道化師ブランケット</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どうけしぶらんけっと</string>
		<key>shortcut</key>
		<string>道化師</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どうけしぶらんけっと</string>
		<key>shortcut</key>
		<string>道化師ブランケット</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かいまく</string>
		<key>shortcut</key>
		<string>開幕</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かいまく</string>
		<key>shortcut</key>
		<string>開幕ゼノパレード</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かいまくぜのぱれーど</string>
		<key>shortcut</key>
		<string>開幕</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かいまくぜのぱれーど</string>
		<key>shortcut</key>
		<string>開幕ゼノパレード</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>げきじょう</string>
		<key>shortcut</key>
		<string>激情</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>げきじょう</string>
		<key>shortcut</key>
		<string>激情インプロビゼーション</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>げきじょういんぷろびぜーしょん</string>
		<key>shortcut</key>
		<string>激情</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>げきじょういんぷろびぜーしょん</string>
		<key>shortcut</key>
		<string>激情インプロビゼーション</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちょうじょうげんしょう</string>
		<key>shortcut</key>
		<string>超常現象</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちょうじょうげんしょう</string>
		<key>shortcut</key>
		<string>超常現象ダンスダンス</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちょうじょうげんしょうだんすだんす</string>
		<key>shortcut</key>
		<string>超常現象</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちょうじょうげんしょうだんすだんす</string>
		<key>shortcut</key>
		<string>超常現象ダンスダンス</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さくそう</string>
		<key>shortcut</key>
		<string>錯綜</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さくそう</string>
		<key>shortcut</key>
		<string>錯綜リフレクション</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さくそうりふれくしょん</string>
		<key>shortcut</key>
		<string>錯綜</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さくそうりふれくしょん</string>
		<key>shortcut</key>
		<string>錯綜リフレクション</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かくめい</string>
		<key>shortcut</key>
		<string>革命</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かくめい</string>
		<key>shortcut</key>
		<string>革命バーチャルリアリティ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かくめいばーちゃるりありてぃ</string>
		<key>shortcut</key>
		<string>革命</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かくめいばーちゃるりありてぃ</string>
		<key>shortcut</key>
		<string>革命バーチャルリアリティ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にびいろ</string>
		<key>shortcut</key>
		<string>鈍色</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にびいろ</string>
		<key>shortcut</key>
		<string>鈍色リグレット</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にびいろりぐれっと</string>
		<key>shortcut</key>
		<string>鈍色</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にびいろりぐれっと</string>
		<key>shortcut</key>
		<string>鈍色リグレット</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さいこうせい</string>
		<key>shortcut</key>
		<string>再構成</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さいこうせい</string>
		<key>shortcut</key>
		<string>再構成ウィーバー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さいこうせいうぃーばー</string>
		<key>shortcut</key>
		<string>再構成</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さいこうせいうぃーばー</string>
		<key>shortcut</key>
		<string>再構成ウィーバー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうはん</string>
		<key>shortcut</key>
		<string>相反</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうはん</string>
		<key>shortcut</key>
		<string>相反ヴァラエティ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうはんゔぁらえてぃ</string>
		<key>shortcut</key>
		<string>相反</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうはんゔぁらえてぃ</string>
		<key>shortcut</key>
		<string>相反ヴァラエティ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんせかい</string>
		<key>shortcut</key>
		<string>新世界</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんせかい</string>
		<key>shortcut</key>
		<string>新世界ピグマリオン</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんせかいぴぐまりおん</string>
		<key>shortcut</key>
		<string>新世界</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんせかいぴぐまりおん</string>
		<key>shortcut</key>
		<string>新世界ピグマリオン</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てんめいけい</string>
		<key>shortcut</key>
		<string>天命系</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てんめいけい</string>
		<key>shortcut</key>
		<string>天命系メルト</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てんめいけいめると</string>
		<key>shortcut</key>
		<string>天命系</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てんめいけいめると</string>
		<key>shortcut</key>
		<string>天命系メルト</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぶっかんせいい</string>
		<key>shortcut</key>
		<string>物換星移</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぶっかんせいい</string>
		<key>shortcut</key>
		<string>物換星移カタルシス</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぶっかんせいいかたるしす</string>
		<key>shortcut</key>
		<string>物換星移</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぶっかんせいいかたるしす</string>
		<key>shortcut</key>
		<string>物換星移カタルシス</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きょうかいせん</string>
		<key>shortcut</key>
		<string>境界線</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きょうかいせん</string>
		<key>shortcut</key>
		<string>境界線マクガフィン</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きょうかいせんまくがふぃん</string>
		<key>shortcut</key>
		<string>境界線</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きょうかいせんまくがふぃん</string>
		<key>shortcut</key>
		<string>境界線マクガフィン</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いちよう</string>
		<key>shortcut</key>
		<string>一陽</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いちよう</string>
		<key>shortcut</key>
		<string>一陽レガシー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いちようれがしー</string>
		<key>shortcut</key>
		<string>一陽</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いちようれがしー</string>
		<key>shortcut</key>
		<string>一陽レガシー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんせいかくめい</string>
		<key>shortcut</key>
		<string>神聖革命</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんせいかくめい</string>
		<key>shortcut</key>
		<string>神聖革命バーチャルリアリティ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんせいかくめいばーちゃるりありてぃ</string>
		<key>shortcut</key>
		<string>神聖革命</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんせいかくめいばーちゃるりありてぃ</string>
		<key>shortcut</key>
		<string>神聖革命バーチャルリアリティ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぐうぞう</string>
		<key>shortcut</key>
		<string>偶像</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぐうぞう</string>
		<key>shortcut</key>
		<string>偶像ナイトメア</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぐうぞうないとめあ</string>
		<key>shortcut</key>
		<string>偶像</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぐうぞうないとめあ</string>
		<key>shortcut</key>
		<string>偶像ナイトメア</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうほう</string>
		<key>shortcut</key>
		<string>遭逢</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうほう</string>
		<key>shortcut</key>
		<string>遭逢ユートピア</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうほうゆーとぴあ</string>
		<key>shortcut</key>
		<string>遭逢</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうほうゆーとぴあ</string>
		<key>shortcut</key>
		<string>遭逢ユートピア</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>あいす</string>
		<key>shortcut</key>
		<string>I.C.E</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ICE</string>
		<key>shortcut</key>
		<string>I.C.E</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かつあいろん</string>
		<key>shortcut</key>
		<string>渇愛論</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にゃんはおてき</string>
		<key>shortcut</key>
		<string>猫好的トリックスター</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にゃんはおてきとりっくすたー</string>
		<key>shortcut</key>
		<string>猫好的トリックスター</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>わたしまにゅある</string>
		<key>shortcut</key>
		<string>わたしマニュアル</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きんだんかじつ</string>
		<key>shortcut</key>
		<string>禁断果実</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぴかぴか</string>
		<key>shortcut</key>
		<string>ピカピカキャンディラブイズム</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぴかぴかきゃんでぃらぶいずむ</string>
		<key>shortcut</key>
		<string>ピカピカキャンディラブイズム</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にゃんはお</string>
		<key>shortcut</key>
		<string>猫好</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゔぁんでらー</string>
		<key>shortcut</key>
		<string>ヴァンデラー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぜのぱれーど</string>
		<key>shortcut</key>
		<string>ゼノパレード</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いんぷろびぜーしょん</string>
		<key>shortcut</key>
		<string>インプロビゼーション</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>りふれくしょん</string>
		<key>shortcut</key>
		<string>リフレクション</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゔぁりす</string>
		<key>shortcut</key>
		<string>VALIS</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんせかい</string>
		<key>shortcut</key>
		<string>深脊界</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ほうどうきょく</string>
		<key>shortcut</key>
		<string>報慟局</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かそうりょだん</string>
		<key>shortcut</key>
		<string>仮想旅団</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かそうりょだん</string>
		<key>shortcut</key>
		<string>仮想旅団オーヴァチュア</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かそうりょだんおーゔぁちゅあ</string>
		<key>shortcut</key>
		<string>仮想旅団</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かそうりょだんおーゔぁちゅあ</string>
		<key>shortcut</key>
		<string>仮想旅団オーヴァチュア</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おーばちゅあ</string>
		<key>shortcut</key>
		<string>オーヴァチュア</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かくせい</string>
		<key>shortcut</key>
		<string>覚醒</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かくせい</string>
		<key>shortcut</key>
		<string>覚醒ヒストリア</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かくせいひすとりあ</string>
		<key>shortcut</key>
		<string>覚醒</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かくせいひすとりあ</string>
		<key>shortcut</key>
		<string>覚醒ヒストリア</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かんじょう</string>
		<key>shortcut</key>
		<string>感情プレステージ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かんじょうぷれすてーじ</string>
		<key>shortcut</key>
		<string>感情プレステージ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>せんりつ</string>
		<key>shortcut</key>
		<string>旋律コレクション</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>せんりつこれくしょん</string>
		<key>shortcut</key>
		<string>旋律コレクション</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かくちょう</string>
		<key>shortcut</key>
		<string>拡張メタモルフォーゼ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かくちょうめたもるふぉーぜ</string>
		<key>shortcut</key>
		<string>拡張メタモルフォーゼ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てんせい</string>
		<key>shortcut</key>
		<string>転生デパーチャー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てんせいでぱーちゃー</string>
		<key>shortcut</key>
		<string>転生デパーチャー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ひつぜんてき</string>
		<key>shortcut</key>
		<string>必然的レゾンデートル</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ひつぜんてきれぞんでーとる</string>
		<key>shortcut</key>
		<string>必然的レゾンデートル</string>
	</dict>
</array>
</plist>